html, body {
  height: 100%;
  /*overflow: auto;*/
  cursor: default;
}

body {
	padding: 10px;
	background: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/* Sections */
header,footer,#article {
	min-width: 940px;
	clear: both;
	/*margin: auto;*/
}

#article {
    height: 86%;
	/*min-height: 620px;*/
	/*max-height: 620px;*/
	margin: auto;
}

#IfrmMain {
	width: 100%;
    height:100%;
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 620px;
	/*max-height: 620px;*/
	margin: auto;
	overflow: hidden;
}

/*header*/
header {
	height: 60px;
	font-size: 20px;
	/*font-weight: bold;*/
	text-align: center;
	border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	-webkit-border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-webkit-border-top-left-radius: 12px;
	position:relative;
}

#Logo {
	float: left;
}

#img_logo {
    margin-top:12px;
    width:310px;
    height:31px;
}

#Menu {
	width: 50px;
	min-height: 100%;
	max-height: 100%;
    height: 48px;
	float: right;
    /*padding-top: 5px;*/
}

.header_img{
	position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%; /* alternative: right:0; */
    height:100%; /* alternative: bottom:0; */
}

/*Footer*/
footer {
	height: 20px;/*old: height: 30px*/
    /*background-image: url(../image/newUI/bg2.png);*/
    background-position: bottom;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-bottom-right-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-webkit-border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	-webkit-border-bottom-left-radius: 12px;
	position : relative;
}
